<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav epub:type="toc" id="toc">
      <h1>Table of Contents</h1>
      <ol>
        {%- for chapter in chapters %}
        <li><a href="{{ chapter.path }}">{{ chapter.title|e }}</a></li>
        {%- endfor %}
      </ol>
    </nav>
  </body>
</html>
