<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://www.idpf.org/2007/opf" version="3.0" unique-identifier="uid" xml:lang="en-US">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:identifier id="uid">{{ uid }}</dc:identifier>
    <dc:title>{{ title }}</dc:title>
    <dc:language>{{ language }}</dc:language>
    {%- if description %}
    <dc:description>{{ description }}</dc:description>
    {%- endif %}
    {%- if creator %}
    <dc:creator>{{ creator }}</dc:creator>
    {%- endif %}
    <meta property="dcterms:modified">{{ modified }}</meta>
  </metadata>
  <manifest>
    <item id="nav" href="{{ navigation_path }}" properties="nav" media-type="application/xhtml+xml" />
    <item id="ncx" href="{{ fallback_nav_path }}" media-type="application/x-dtbncx+xml" />
    {%- if cover %}
    <item id="cover" href="{{ cover.path }}" properties="cover-image" media-type="{{ cover.media_type }}" />
    {%- endif %}
    {%- if stylesheet_path %}
    <item id="css" href="{{ stylesheet_path }}" media-type="text/css" />
    {%- endif %}
    {%- for item in files %}
    <item id="{{ item.id }}" href="{{ item.path }}" media-type="application/xhtml+xml" />
    {%- endfor %}
  </manifest>
  <spine toc="ncx">
  {%- for item in files %}
    <itemref idref="{{ item.id }}" />
  {%- endfor %}
  </spine>
</package>
