<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="en-US">
  <head>
    <meta content="{{ id }}" name="dbt:uid" />
  </head>
  <docTitle>
    <text>{{ title }}</text>
  </docTitle>
  <navMap>
    {%- for chapter in chapters %}
    <navPoint id="ch{{ loop.index }}">
      <navLabel>
        <text>{{ chapter.title|e }}</text>
      </navLabel>
      <content src="{{ chapter.path }}" />
    </navPoint>
    {%- endfor %}
  </navMap>
</ncx>
